<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.mycompany.myapp.model.Coordinate" alias="coor"></typeAlias>
		<typeAlias type="com.mycompany.myapp.model.Place" alias="place"></typeAlias>
		<typeAlias type="com.mycompany.myapp.model.stationXY" alias="station"></typeAlias>
	</typeAliases>

</configuration>
